<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta HTTP-EQUIV="refresh" CONTENT="1">
  <title>Main Page</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <title>It's the index page!</title>
    <h1><a href="{{ url_for('main') }}">This links to the bus thing</a></h1>
    <p><a href="https://github.com/samuelculley/bustopper">Check out our github!</a></p>
  <script src="js/scripts.js"></script>
</body>
</html>
