<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta HTTP-EQUIV="refresh" CONTENT="30">
  <title>weather page!</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <title>I don't know wether the wether</title>

  <p><a href="{{ url_for('index') }}">You can go back to the main
    page if you really want</a></p>

  <script src="js/scripts.js"></script>
</body>
</html>
